<!DOCTYPE html>
<html>
<head>
	<title>TaffFinder - Accueil</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	
    <%- include('nav.ejs') %>

	<div class="jumbotron text-center">
		<h1>Bienvenue sur TaffFinder</h1>
		<p>Nous aidons les entreprises à trouver les meilleurs talents.</p>
		<a href="http://localhost:3000/recruteur/mesOffres" class="btn btn-primary">Consulter vos offres d'emploi</a>
	</div>

            <div class="container">
                <h2>Pourquoi nous choisir</h2>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Expérience</h5>
                        <p>Nous avons une expérience de plus de 10 ans dans le recrutement de talents pour les entreprises de toutes tailles et de tous secteurs.</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Expertise</h5>
                        <p>Nous disposons d'une équipe de recruteurs expérimentés et spécialisés dans différents secteurs d'activité.</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Qualité</h5>
                        <p>Nous nous engageons à fournir des services de qualité et à satisfaire les besoins de nos clients et de nos candidats.</p>
                    </div>
                </div>
            </div>
            
            <footer class="footer">
                <div class="container">
                    <p>Site de recrutement &copy; 2023. Tous droits réservés.</p>
                </div>
            </footer>
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            
        </body>
        </html>
		
				
