<!DOCTYPE html>
<html>
<head>
	<title>Devenir Recruteur</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Liens vers les stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4>Devenir Recruteur</h4>
					</div>
					<div class="card-body">
						<form>
							<div class="form-group">
								<label for="nom">Nom Organisation:</label>
								<input type="text" class="form-control" id="nom" placeholder="Entrez le nom de votre organisation">
							</div>
							<div class="form-group">
								<label for="siren">SIREN :</label>
								<input type="text" class="form-control" id="siren" placeholder="Entrez le SIREN">
							</div>
							<div class="form-group">
								<label for="type">Numéro de Téléphone :</label>
								<input type="text" class="form-control" id="type" placeholder="Entrez le type de votre organisation">
							</div>
							<div class="form-group">
								<label for="siege">Siege Social</label>
								<input type="text" class="form-control" id="siege" placeholder="Entrez le siege de votre organisation">
							</div>
							<a type="submit" class="btn btn-primary" href = "/users">Devenir Recruteur</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Liens vers les scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
