<!DOCTYPE html>
<html>
<head>
	<title>Devenir Recruteur</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Liens vers les stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

	<%- include('nav.ejs') %>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4>Ajouter mon entreprise</h4>
					</div>
					<div class="card-body">
						<form id="AjoutOrga" action="/organisations/addorga" method="POST">
							<div class="form-group">
								<label for="nom">Nom de l'organisation:</label>
								<input type="text" class="form-control" name="nom" placeholder="Entrez le nom de votre organisation">
							</div>
							<div class="form-group">
								<label for="siren">SIREN :</label>
								<input type="text" class="form-control" name="siren" placeholder="Entrez le SIREN">
							</div>
							<div class="form-group">
								<label for="type">Type de l'organisation :</label>
								<input type="text" class="form-control" name="type" placeholder="Entrez le type de votre organisation">
							</div>
							<div class="form-group">
								<label for="siege">Siege Social</label>
								<input type="text" class="form-control" name="siege" placeholder="Entrez le siege de votre organisation">
							</div>
							<button type="submit" class="btn btn-primary"> Ajouter mon entreprise </button>
						</form>
						<a class="nav-link" href="joinorga"> Votre entreprise existe déjà ? Demandez à la rejoindre </a>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Liens vers les scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
