<!DOCTYPE html>
<html>

<head>
    <title>Devenir Recruteur</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Liens vers les stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>

    <%- include('nav.ejs') %>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Sélectionnez votre entreprise</h4>
                    </div>
                    <div class="card-body">
                        <form id="AjoutOrga" action="/organisations/sendjoinorga" method="POST">
                            <div class="form-group">
                                <label for="job-type">
                                    <%= title %>
                                </label>
                                <select class="form-control" name="siren">
                                    <% orgas.forEach((orga) => { %>
                                        <option value="<%= orga.SIREN %>">
                                            <%= orga.nom %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary"> Demander à rejoindre </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Liens vers les scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>